<?xml version="1.0"?>

<!--
  This is an example of the config settings need to get started with the 
  Amazon DynamoDB TraceListener. This file is just for reference and
  can be deleted.
  
  The listener below is configured to log Amazon.S3 calls. By changing the
  source name, you can configure the listener to log different events.
  
  If your application is configuring the credentials in the appSettings
  section and you want to use that same account for the session provider you
  can remove the credentials-related attributes.
  -->

<configuration>

  <system.diagnostics>
    <sources>
      <source name="Amazon.S3">
        <listeners>
          <add name="s3" type="Amazon.Logging.DynamoDBTraceListener, AWS.TraceListener"
               AWSProfileName="AWS Default"
               AWSProfilesLocation=".aws/credentials"
               Table="Logs"
               Region="us-east-1"
           />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>
